* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-pad,
.snare-pad,
.hihat-pad,
.ride-pad,
.tom-pad {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(160, 211, 224);
}
.snare-pad {
  background: rgb(255, 211, 224);
}
.hihat-pad {
  background: rgb(174, 235, 174);
}
.ride-pad {
  background: rgb(160, 111, 224);
}
.tom-pad {
  background: rgb(214, 209, 129);
}

.kick-pad.active {
  background: rgb(69, 204, 238);
}
.snare-pad.active {
  background: rgb(250, 73, 126);
}
.hihat-pad.active {
  background: rgb(53, 246, 53);
}
.ride-pad.active {
  background: rgb(122, 41, 228);
}
.tom-pad.active {
  background: rgb(240, 204, 2);
}

.kick-track,
.snare-track,
.hihat-track,
.ride-track,
.tom-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin: 1rem;
}

.kick,
.snare,
.hihat,
.ride,
.tom {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  flex: 1;
  margin: 0 1rem;
}
.controls button {
  padding: 0.5rem;
  border: none;
  background-color: rgb(87, 85, 85);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5 ease;
}

.play {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: rgb(87, 85, 85);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 0.8rem;
  font-size: 0.8rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
